.cardService {
	width: 300px;
	height: 232px;
	margin: 10px;
	border: 2px solid var(--orange);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.cardService--title {
	width: 100%;
	height: 32px;
	font-family: var(--robotoFont);
	font-weight: var(--robotoWeight);
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: var(--orange);
}

.cardService--img {
	width: max-content;
	height: 50px;
	background-color: green;
}

.cardService--text {
	width: 80%;
	text-align: center;
}
