.cardService {
	width: 320px;
	height: 232px;
	margin: 2vw;
	border: 2px solid var(--orange);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.cardService--title {
	width: 100%;
	height: 50px;
	padding: 10px;
	font-family: var(--robotoFont);
	font-weight: var(--robotoWeight);
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: var(--orange);
	text-transform: uppercase;
	position: absolute;
	top: 0;
}

.cardService--img {
	width: 110px;
	margin-top: 30px;
}

.cardService--text {
	width: 80%;
	text-align: center;
}
