.ourServices--text {
	max-width: 1000px;
	padding: 20px 5px;
	margin: 0px 5px;
	color: var(--white);
	font-family: var(--segoeFont);
	font-weight: var(--segoeWeight);
	font-size: calc(15px + 0.5vw);
	line-height: 31px;
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 0px 0px 20px 20px;
}
