.contact{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "form img";
    margin: 0 3rem;

    &-form{
        grid-area: form;
        margin: 2rem;
        padding: 2rem;
        border-bottom-right-radius: 2rem;
        z-index: 2;
        background-color: var(--white);
    }

    &-img{
        width: 90%;
        max-width: 100%;
        grid-area: img;
        margin: 2rem;
        display: flex;
	    justify-content: end;
        align-items: flex-end;
        z-index: 3333;
    }
    &-imagen{
        width: 80%;
    }

    &-button{
        background-color: var(--orange);
        color: var(--darkBlue);
        width: 12rem;
        border: 2px solid var(--orange);
        border-radius: 1.5rem;
        display: flex;
        align-self: center;
        justify-content: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        &:hover{
            background-color: var(--orange);    
            color: var(--darkBlue);
            border: 2px solid var(--darkBlue);
        }
    }

    &-vector{
        width: 100%;
        position: absolute;
        top: 232rem;
        z-index: 0;
    }
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 700px){
    .contact{
        height: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30% 70%;
        grid-template-areas: "img"
                              "form";
        margin: 0 1rem;

        &-form{
            margin: 1rem 2rem;
            padding: 1rem;
        }
    }
    .contact-img{
        margin: 1rem;
        justify-content: center;
        align-items: center;
    }
}


