.image{
    max-width: 100%;
}
.text{
    position: absolute;
    left: 43rem;
    top: 20rem;
    z-index: 999;
    color: var(--white);
    text-align: end;
    font-family: 'roboto';
    font-size: 45px;
}

@media only screen and (max-width: 700px){
    .text{
        left: 22rem;
        top: 11rem; 
        font-size: 1.5rem;
    }
}