.image{
    width: 100%;
}
.text{
    position: absolute;
    left: 42rem;
    right: 5rem;
    top: 20rem;
    z-index: 999;
    color: var(--white);
    text-align: end;
    font-family: 'roboto';
    font-size: 45px;
}

.princ-contact{
    @extend .navbar-contact;
}

@media only screen and (max-width: 700px){
    .text{
        left: 22rem;
        right: 3rem;
        top: 9rem; 
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 600px){
    .text{
        left: 7rem;
        right: 3rem;
        top: 25rem; 
        font-size: 2rem;
    }
    .princ-contact{
        position: absolute;
        left: 30%;
        right: 30%;
        top: 35rem; 
        height: auto;
        font-size: 1.5rem;
    }
}
@media only screen and (min-width: 1400px){
    .text{
        left: 70rem;
        right: 5rem;
        top: 28rem;
    }
}