.navbar{
    background-color: transparent;
}
  
.navbar.colorChange{
    background-color: var(--darkBlue); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}

a{
    color: var(--white);
    text-decoration: none;
    margin: 1rem 2rem;
    text-transform: uppercase;

    &:hover{
        color: var(--orange);
    }
}

.navbar-logo{
    width: 12rem;
    align-self: center;
}
