.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}
.container{
    margin-right: 0;
}
.navbar-config{
    width: 100%;
}
.navbar{
    width: 100%;
    background-color: transparent;
    position: absolute;

    &-logo{
        visibility: hidden;
    }
    .navbar-control{
        visibility: hidden;
    }
}

.navbar.colorChange{
    width: 100%;
    background-color: var(--darkBlue); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    position: fixed;

    .container{
        border: none;
    }
    
    .navbar-logo{
        visibility: visible;
    }

    .borde{
        visibility: hidden;
    }
    .navbar-control{
        visibility: visible;
    }
    
}


a{
    color: var(--white);
    text-decoration: none;
    margin: .5rem 2rem;
    text-transform: capitalize;
    white-space: pre;

    &:hover{
        color: var(--orange);
        text-decoration: underline;
    }
}

.navbar-contact{
    background-color: var(--orange);
    border: none;
    border-radius: 2rem;
    height: 2rem;
    
    a{
        color: var(--darkBlue);
    }
    a:hover{
        color: var(--darkBlue); 
    }
}

.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 0;
    position: absolute;
    right: 1.5rem;
}

.borde{
    width: 620px;
    border-bottom: .1rem solid var(--orange); 
    position: absolute;
    top: 90px;
    right: 0;
}

.navbar-logo{
    width: 12rem;
    align-self: center;
}

@media only screen and (max-width: 700px){
    .navbar-config{
        width: 90%;
    }
    .navbar-control{
        background-color: transparent;
    }
    .navbar-nav{
        background-color: black;
        padding: 2rem;
        right: 0;
        top: .1rem;
        border-bottom-left-radius: 4rem;
    }
    a{
        padding-bottom: 1rem;

    }
    .navbar{
        width: 100%;
        background-color: transparent;
        position: absolute;
    
        &-logo{
            visibility: visible;
        }
        .navbar-control{
            visibility: visible;
        }
    }
    .borde{
        width: 20%;
    }
    #navbar-contact{
        background-color: transparent;
        border: none;
        
        a{
            color: var(--white);
        }
        a:hover{
            color: var(--orange);
            text-decoration: underline; 
        }
    }
}

@media only screen and (min-width: 1400px){
    a{
        font-size: 1.5rem;
    }
    .navbar-contact{
        height: 2.3rem;
    }
}


