.swiper {
  border-top: 2rem solid white;
  border-bottom: 2rem solid white;
  background-image: url(https://www.pngmart.com/files/1/Vector-Windows-8-Tablet-PNG.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--white);
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 520px;
  background-color: transparent;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
