@import "../src/styles/variables.scss";
@import "../src/Components/Navbar/Navbar.scss";
@import "../src/Sections/Contact/Contact.scss";
@import "../src/Sections/Galery/Galery.scss";
@import "../src/Sections/Image/ImageP.scss";

